<hr>
<div class="container">
       
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">TItulo</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Categroia</th>
               
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td><button type="button" class="btn btn-success">Editar</button>&nbsp;&nbsp;
                        <button type="button" class="btn btn-danger">Eiminar</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td><button type="button" class="btn btn-success">Editar</button>&nbsp;&nbsp;
                        <button type="button" class="btn btn-danger">Eiminar</button></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td><button type="button" class="btn btn-success">Editar</button>&nbsp;&nbsp;
                        <button type="button" class="btn btn-danger">Eiminar</button></td>
                </tr>

                
                </tbody>
            </table>
        </div>
    </div>
</div>